<div #body class="body">
    <header>
        <div class="fixed">
            <h1>Parallax Header!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, possimus.</p>
        </div>
    </header>

    <main class="wrapper">
        <section>
            <h2>Heading 1</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab illum molestiae suscipit tempora. Alias,
                aliquid asperiores aspernatur at, atque consequatur illo impedit ipsum itaque minima minus molestias
                necessitatibus placeat quo suscipit tempore ullam. Autem commodi dolore eligendi expedita fugiat id
                impedit minus modi non numquam optio provident quam quas quisquam, quo reiciendis repellendus ut?
            </p>
            <p>
                Aliquid architecto consequuntur doloribus earum fugiat illo inventore labore laudantium magnam molestiae
                nam odio, optio quae quasi quis, repellat reprehenderit sit suscipit ullam unde. Aliquid aspernatur,
                blanditiis consectetur dolore fuga molestiae nobis repudiandae veniam voluptas voluptatibus.
            </p>
            <p>
                A accusantium alias aut, consequatur cum doloremque eaque, in ipsum maxime minus nobis nulla officia
                porro qui quia quisquam, reiciendis rerum saepe sed similique unde veniam voluptas voluptate. Error
                facere iusto magnam optio quam ullam voluptatem? Animi dicta doloribus itaque praesentium quae
                repellendus ullam!
            </p>
            <p>
                Consequatur cum dolores eos fuga inventore laborum maiores, necessitatibus officia officiis optio
                quaerat quam reprehenderit saepe similique sunt ullam voluptate? Aperiam at consectetur facere incidunt
                minima possimus? Ab, at laboriosam modi nostrum obcaecati, qui quisquam reprehenderit temporibus ut,
                vitae voluptatem voluptatum? Atque, aut, blanditiis consequatur dolor eaque eius facilis laborum magni,
                modi molestiae omnis quidem quisquam temporibus? Ab accusantium consectetur delectus eaque harum minima
                mollitia voluptatem!
            </p>
        </section>

        <section>
            <h2>Heading 2</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur consectetur cumque dolorem
                dolores eius enim est et ex exercitationem, expedita fuga incidunt ipsa iure magnam natus nesciunt non
                odit quaerat quas quos recusandae reiciendis sed vero voluptatum?
            </p>
            <p>
                Cupiditate debitis fugiat molestiae sit. Asperiores dicta fugit magni obcaecati quos repellendus
                reprehenderit. Autem consectetur ea necessitatibus? Asperiores aut doloribus eaque, odio quasi
                repellendus sit. Ab adipisci alias aliquid amet assumenda cum cumque cupiditate dicta, dolor dolorum ex
                excepturi explicabo impedit in ipsum, itaque laborum magnam nihil, nostrum porro praesentium qui ratione
                sapiente suscipit tempore tenetur voluptatibus?
            </p>
            <p>
                Aperiam architecto commodi cum eius iure laboriosam maxime minima necessitatibus officia qui, quibusdam
                reprehenderit tempora, tempore veniam voluptates! Aspernatur deleniti doloremque id sed sit? Aspernatur
                assumenda atque, aut blanditiis delectus deserunt doloribus enim esse, fugiat nobis nostrum quo
                recusandae saepe soluta temporibus ullam voluptatem voluptatibus voluptatum!
            </p>
            <p>
                Ad adipisci, aspernatur beatae consectetur corporis culpa debitis dolor dolorem doloremque, ducimus eius
                eos error esse et eveniet excepturi expedita facilis fugit harum illo incidunt laudantium maxime
                mollitia nemo nesciunt non nostrum odit officiis optio quae quasi qui quis ratione reprehenderit
                sapiente tempore vitae? Cum deserunt eaque in itaque laboriosam laborum magni maxime necessitatibus
                nesciunt nisi nostrum placeat possimus, praesentium ratione sint soluta temporibus voluptatum.
            </p>
            <p>
                Ab accusantium adipisci aliquid animi architecto asperiores at autem consequuntur dolore dolorem eum
                illum maxime modi nam nihil, nobis obcaecati perspiciatis possimus quasi reiciendis, repellat
                repellendus soluta tenetur? Alias asperiores, at, blanditiis commodi consectetur eos error excepturi
                fugiat inventore iusto labore laborum nesciunt nobis perferendis quae quis quo reiciendis repellat sit
                sunt tempore ut voluptatem voluptatum! Labore qui quos similique vitae.
            </p>
            <p>
                Adipisci eligendi ipsum maiores molestias quo vitae voluptas! Aspernatur, consectetur cumque debitis
                dolorum esse excepturi minima molestiae nihil quae quod recusandae velit vero? Accusantium, in ipsam
                itaque mollitia nam numquam possimus veniam voluptates?
            </p>
        </section>
    </main>
</div>
