<div #body class="body">
    <img src="assets/images/minimal/leaves.jpg" alt="Leaves" data-color="#94a433" />
    <img src="assets/images/minimal/eggs.jpg" alt="Eggs" data-color="#fade56" />
    <img src="assets/images/minimal/tv.jpg" alt="Television" data-color="#b57454" />
    <img src="assets/images/minimal/window-01.jpg" alt="Window" data-color="#fde2c5" />
    <img src="assets/images/minimal/heart.jpg" alt="Heart" data-color="#ebc5ce" />
    <img src="assets/images/minimal/pencils.jpg" alt="Pencils" data-color="#d4b701" />
    <img src="assets/images/minimal/egg.jpg" alt="Egg" data-color="#da0e25" />
    <img src="assets/images/minimal/wheat.jpg" alt="Wheat" data-color="#78adbb" />
</div>
