<div #body class="body wrapper">
    <h1>Text Marker!</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur eaque eligendi expedita ipsa iure
        nihil non nostrum, quas quibusdam reiciendis, sed, temporibus voluptate.
        <mark>
            Aut cumque delectus, enim et explicabo fugit, impedit magni minima modi molestias nam, numquam provident
            quas quo ratione sint tempora voluptas voluptatem.
        </mark>
        Accusamus adipisci alias consequatur culpa debitis deserunt, error eum excepturi facere, facilis in minus neque
        obcaecati odio odit officiis optio quae quo reiciendis repudiandae tempore temporibus vel veritatis.
    </p>
    <p>
        Animi blanditiis, commodi corporis cupiditate dolores ea eius enim eum expedita facilis fuga fugiat harum
        inventore iusto laboriosam modi nam nulla obcaecati porro provident quos ratione rem saepe sit ut. Accusamus
        aspernatur commodi cumque deleniti earum eos est exercitationem itaque iure maxime nihil nulla recusandae rem
        tempora totam, ut veniam! Accusantium ad adipisci, assumenda atque commodi consequatur consequuntur cupiditate
        doloribus eligendi eos error molestiae nobis saepe, similique soluta tempora voluptates. Accusantium iste
        nesciunt nostrum vero voluptatum?
        <mark>
            Alias aliquid aspernatur blanditiis debitis, delectus deleniti dicta dignissimos et excepturi facere labore
            maxime nobis nulla numquam officiis praesentium quibusdam, quo recusandae sed suscipit ut veritatis
            voluptas, voluptatem?
        </mark>
        Aperiam asperiores doloremque eveniet, laboriosam natus neque provident quam, quis quo reiciendis rerum tempore
        unde vero! Ab animi corporis cupiditate dicta doloremque eaque eius est eum excepturi illo impedit, ipsa minima
        praesentium repellat sunt, tempore velit? Aut fugiat illum maxime modi soluta! Asperiores consequatur esse ex
        illo nisi perferendis quidem ratione repellendus.
    </p>
    <p>
        Autem ea harum incidunt laboriosam perspiciatis ratione recusandae repudiandae similique. Assumenda blanditiis
        consequatur debitis dolore hic iure labore laboriosam, laudantium modi, nam placeat ratione similique ullam. At
        corporis, et incidunt modi nemo saepe sunt.
        <mark>Assumenda aut cumque cupiditate eum magnam obcaecati perspiciatis repellat.</mark> A ab, accusamus
        adipisci corporis debitis dignissimos, iure iusto laudantium, mollitia officiis possimus quaerat quam quia sed
        tempora unde veniam. Aperiam asperiores dicta id laboriosam perferendis quae quis vitae voluptatibus? Culpa, hic
        ipsum magnam molestiae natus quaerat sequi similique sint totam velit? Consectetur corporis deserunt dicta
        impedit inventore maiores nisi obcaecati soluta temporibus.
    </p>
    <p>
        Accusantium ad aliquam aliquid at beatae blanditiis consequatur culpa cumque cupiditate dolorem doloremque
        doloribus dolorum eius eligendi eos exercitationem harum, incidunt itaque laudantium magni maxime modi mollitia
        nam nesciunt nihil nobis officia optio perspiciatis placeat quam quisquam quos recusandae, reiciendis rem totam
        ullam ut! Animi asperiores consequatur dicta distinctio eos eum illum impedit iusto molestiae molestias, natus
        nobis omnis optio perferendis quia reprehenderit similique suscipit tenetur! Aspernatur at atque, commodi
        consequuntur culpa ea est eum eveniet expedita fugiat id iusto libero magni molestiae odit perferendis placeat
        quasi quibusdam quo, sapiente sint tenetur, veniam. Esse excepturi facere qui veniam. Blanditiis consequuntur
        corporis culpa deleniti dolore doloribus dolorum ducimus ea facere facilis harum impedit inventore, officia,
        pariatur placeat quas sequi sunt tempora voluptatibus voluptatum.
        <mark>
            A fugiat numquam placeat quibusdam quidem! Dicta dolores ipsa numquam qui quibusdam quisquam repudiandae
            rerum ullam vel voluptatem? Alias aliquid hic illo necessitatibus temporibus veniam vero voluptate.
        </mark>
        Aliquam amet architecto aspernatur assumenda blanditiis deleniti dicta dignissimos doloremque, eaque enim
        excepturi explicabo facilis fugit illum in incidunt iste laborum minima modi neque perferendis praesentium
        quidem quo sunt temporibus tenetur voluptatum. Ad amet culpa eos eveniet fugit mollitia perferendis, quibusdam
        ratione? Atque cupiditate, repellat.
    </p>
    <p>
        Ab adipisci asperiores consequatur earum laudantium magnam molestias vitae? Fugit labore, nihil optio quas quos
        reprehenderit veritatis voluptatum. Alias aliquid atque aut beatae consectetur deleniti dolorum, ducimus
        excepturi iusto nemo, odio recusandae rem temporibus ut vel voluptate voluptatem. Amet, animi blanditiis
        consectetur delectus dicta eaque error esse ex exercitationem fugit illum iure magni maiores, minima mollitia
        non nostrum odit porro possimus quasi quia quis repellat repudiandae saepe ullam velit voluptate voluptatibus.
        Animi consequatur dignissimos ea hic illo in iure molestias perferendis qui vitae.
        <mark>Amet cupiditate deserunt impedit necessitatibus ratione recusandae sed.</mark> Atque, hic magnam! Cumque
        dolorem et eum harum impedit incidunt ipsum laudantium minus, modi molestias nisi numquam odit possimus quae
        quibusdam quisquam repudiandae voluptates. Earum enim modi provident? Harum reprehenderit sapiente temporibus!
        Ducimus eaque est non optio, ratione reiciendis similique tenetur veniam.
    </p>
    <p>
        Ad animi assumenda at autem beatae blanditiis corporis delectus dicta distinctio dolorum eaque esse eum harum in
        laboriosam libero molestiae nam natus necessitatibus odio optio pariatur placeat praesentium quas quibusdam quod
        ratione rem repellat, repudiandae sint soluta sunt, tempora totam veniam vero voluptates voluptatum? Aliquid
        assumenda culpa debitis dolore ducimus earum error excepturi facilis fuga inventore itaque labore magni maiores
        molestias nesciunt nihil nobis perspiciatis porro quam repellat sit suscipit tempore ullam vel vitae voluptas,
        voluptatibus! Amet cumque ducimus est et in laboriosam provident, quam quas.
        <mark>
            Beatae eligendi facere sed vitae! A accusantium beatae cumque dolorum ipsum, nostrum recusandae vel?
        </mark>
        Asperiores consequuntur cum deleniti deserunt dolore dolores eos error facilis impedit itaque laudantium libero
        maxime mollitia neque nihil nobis non officia, praesentium quidem quod reiciendis rem rerum, saepe sit soluta
        temporibus totam velit voluptas, voluptatibus voluptatum. Fugit incidunt quos sapiente! Alias, assumenda
        consequuntur, debitis eaque eius fuga fugit id ipsam, minima omnis optio quo unde veritatis voluptas voluptates!
        Delectus dolorem eligendi fuga itaque maiores quam quidem repellendus reprehenderit ut voluptatibus.
    </p>
    <p>
        <mark>
            Delectus dignissimos, eaque est et libero magnam, maxime minima nulla numquam obcaecati, quam quidem
            quisquam vero voluptatem voluptates.
        </mark>
        Aliquam aut illo ipsum nostrum ratione. Beatae cumque esse excepturi inventore iure minima nihil nisi, nulla
        porro, quas quos repellat veritatis! A accusantium at consequuntur deleniti doloribus labore maxime molestias,
        necessitatibus, nesciunt non, odio officia quo quos repellendus repudiandae sequi sit vero. Accusamus aut
        consectetur eaque eius fugiat illum ipsum laboriosam libero molestiae nostrum nulla odio quas, rem sint,
        suscipit!
        <mark>
            Accusamus architecto assumenda autem consectetur corporis distinctio dolores harum illo incidunt modi, nam
            omnis optio, quidem, quod similique soluta temporibus veniam.
        </mark>
        Atque consectetur deserunt eaque eligendi enim, eos error est et labore maiores quaerat quas quisquam
        repudiandae sint unde vel veniam voluptate voluptatibus.
    </p>
    <p>
        Ad aliquam, amet assumenda autem consectetur consequuntur corporis cupiditate debitis delectus, dolor dolore
        doloremque ducimus, eligendi eos ex fugit laborum libero maxime necessitatibus nisi obcaecati optio placeat quae
        quaerat qui quidem quisquam quod repellat repellendus rerum saepe totam ut voluptatum. Deleniti distinctio
        facilis optio tempore tenetur. At culpa cumque enim eos expedita facere magnam quidem, ullam.
    </p>
</div>
