.body {
    background-image: linear-gradient(to bottom right, hsl(220, 100%, 10%), hsl(220, 100%, 4%));
    background-attachment: fixed;

    section {
        display: grid;
        place-items: center;

        height: 100vh;

        h2 {
            color: hsl(0, 100%, 98%);

            font-size: 7.2rem;
            font-weight: 700;
            text-align: center;
        }
    }
}
