<div #body class="body">
    <section>
        <div class="fixed wrapper">
            <h2>Heading 1</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deleniti dolor ea earum excepturi
                exercitationem explicabo hic, iure saepe sapiente tenetur ut veritatis. Corporis iste, nemo?
            </p>
        </div>
    </section>
    <section>
        <div class="fixed wrapper">
            <h2>Heading 2</h2>
            <p>
                Animi blanditiis, commodi corporis cupiditate dolores ea eius enim eum expedita facilis fuga fugiat
                harum inventore iusto laboriosam modi nam nulla obcaecati porro provident quos ratione rem saepe sit ut.
            </p>
        </div>
    </section>
    <section>
        <div class="fixed wrapper">
            <h2>Heading 3</h2>
            <p>
                A ab, accusamus adipisci corporis debitis dignissimos, iure iusto laudantium, mollitia officiis possimus
                quaerat quam quia sed tempora unde veniam.
            </p>
        </div>
    </section>
    <section>
        <div class="fixed wrapper">
            <h2>Heading 4</h2>
            <p>
                Accusantium ad aliquam aliquid at beatae blanditiis consequatur culpa cumque cupiditate dolorem
                doloremque doloribus dolorum.
            </p>
        </div>
    </section>
    <section>
        <div class="fixed wrapper">
            <h2>Heading 5</h2>
            <p>
                Aperiam asperiores doloremque eveniet, laboriosam natus neque provident quam, quis quo reiciendis rerum
                tempore unde vero!
            </p>
        </div>
    </section>
</div>
