<div #body class="body">
    <section>
        <div class="fixed wrapper">
            <h2>Heading 1</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deleniti dolor ea earum excepturi
                exercitationem explicabo hic, iure saepe sapiente tenetur ut veritatis. Corporis iste, nemo? Officia
                perspiciatis repudiandae veniam?
            </p>
        </div>
    </section>
    <section>
        <div class="fixed wrapper">
            <h2>Heading 2</h2>
            <p>
                Animi blanditiis, commodi corporis cupiditate dolores ea eius enim eum expedita facilis fuga fugiat
                harum inventore iusto laboriosam modi nam nulla obcaecati porro provident quos ratione rem saepe sit ut.
                Accusamus aspernatur commodi cumque deleniti earum eos est exercitationem itaque iure maxime nihil nulla
                recusandae rem tempora totam, ut veniam! Accusantium ad adipisci, assumenda atque commodi consequatur
                consequuntur cupiditate doloribus eligendi eos error molestiae nobis saepe, similique soluta tempora
                voluptates. Accusantium iste nesciunt nostrum vero voluptatum?
            </p>
        </div>
    </section>
    <section>
        <div class="fixed wrapper">
            <h2>Heading 3</h2>
            <p>
                A ab, accusamus adipisci corporis debitis dignissimos, iure iusto laudantium, mollitia officiis possimus
                quaerat quam quia sed tempora unde veniam. Aperiam asperiores dicta id laboriosam perferendis quae quis
                vitae voluptatibus? Culpa, hic ipsum magnam molestiae natus quaerat sequi similique sint totam velit?
                Consectetur corporis deserunt dicta impedit inventore maiores nisi obcaecati soluta temporibus.
            </p>
        </div>
    </section>
    <section>
        <div class="fixed wrapper">
            <h2>Heading 4</h2>
            <p>
                Accusantium ad aliquam aliquid at beatae blanditiis consequatur culpa cumque cupiditate dolorem
                doloremque doloribus dolorum eius eligendi eos exercitationem harum, incidunt itaque laudantium magni
                maxime modi mollitia nam nesciunt nihil nobis officia optio perspiciatis placeat quam quisquam quos
                recusandae, reiciendis rem totam ullam ut!
            </p>
        </div>
    </section>
    <section>
        <div class="fixed wrapper">
            <h2>Heading 5</h2>
            <p>
                Aperiam asperiores doloremque eveniet, laboriosam natus neque provident quam, quis quo reiciendis rerum
                tempore unde vero! Ab animi corporis cupiditate dicta doloremque eaque eius est eum excepturi illo
                impedit, ipsa minima praesentium repellat sunt, tempore velit? Aut fugiat illum maxime modi soluta!
                Asperiores consequatur esse ex illo nisi perferendis quidem ratione repellendus.
            </p>
        </div>
    </section>
</div>
